/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;color: #252B42;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
main {
  min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  background-color: #131313;
}

.slider {
  max-width: 1286px;
	margin: 0 auto;
	box-sizing: content-box;
	padding: 0px 15px;
}
.slider__body {
  height: 783px;
  width: 100%;
  padding: 107px 0px 125px;
  color: #FFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  display: flex;
}
.slider__description {
  width: 442px;
  margin-right: 50px;
}
.slider__title {
  margin-top: 20px;
  font-family: 'Yeseva One';
  font-size: 27px;
  line-height: calc(37 / 27 * 100%);
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #E3B873;
  margin-bottom: 34px;
}
.slider__text {
  margin-bottom: 30px;
}
.slider__column {
}
.column {
  display: flex;
  flex-wrap: wrap;
}
.column__city {
  width: 221px;
  height: 92px;
  position: relative;
  left: 0;
  top: 0;
}
.city__text{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 30px;
}
.column__city .city__text.active{
  opacity: 1;
}
.column__area {
  width: 221px;
  height: 92px;
  position: relative;
  left: 0;
  top: 0;
}
.area__text{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 30px;
}
.column__area .area__text.active{
  opacity: 1;
}

.column__time {
  position: relative;
  left: 0;
  top: 0;
  width: 221px;
  height: 92px;
}
.time__text{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 30px;
}
.column__time .time__text.active{
  opacity: 1;
}
.column__cost {
  position: relative;
  left: 0;
  top: 0;
  width: 221px;
  height: 92px;
}
.cost__text{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 30px;
}
.column__cost .cost__text.active{
  opacity: 1;
}
.column__title {
  font-family: 'Yeseva One';
  font-size: 18px;
  line-height: calc(25 / 18 * 100%);
  text-transform: uppercase;
  color: #E3B873;
}
.slider__arrows {
  margin-top: 66px;
  display: flex;
  align-items: center;
}
.slider__arrows >:not(:last-child){
  margin-right: 18px;
}
.slider__arrow {
  font-size: 40px;
  opacity: 0.6;
}
.slider__arrow:hover {
  opacity: 1;
  cursor: pointer;
}
.left {
}

.slider__dots {
  display: flex;
  justify-content: center;

}

.slider__dots-item {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
  transform: translate(0,2px);
}

.slider__dots-item:hover, .slider__dots-item.active {
  background: #FFFF;
}
.right {
}
.slider__base {
}
.slider__name {
  
}
.name >*:not(:last-child){
  margin-right: 60.5px;
}
.name {
  display: flex;
}
.name__title {
  font-family: 'Yeseva One';
  font-size: 14px;
  line-height: calc(19 / 14 * 100%);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 53px;
}
.name__title:hover, .name__title.active {
  color: #E3B873;
  cursor: pointer;
  text-decoration: underline;
}
.slider__images {
  width: 679px;
  height: 442px;
  position: relative;
  left: 0;
  right: 0;
}
.slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 800ms ease;
}
.slider__images .image.active {
  opacity: 1;
}
